.form-wrapper.row
  %h1 New Post
  = simple_form_for @post do |f|
    .form-group
      = f.input :caption, input_html: {class: 'form-control'}
    .form-group
      = f.input :image, as: :file
    = f.button :submit, class: 'btn-success'
